body {
  font-family: sans-serif;
  margin: 3em;
  padding: 0;
}

button {
  background-color: #FFD800;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid transparent;
}

button:focus {
  outline: none;
  border: 3px solid #e51b24;
}

.reset {
  background-color: #ff9db6;
}

h1 {
  text-align: center;
}

.controls {
  text-align: center;
}